<main class="container">
  <h1>Proyecto Entornos Virtuales</h1>
  <p>Selecciona un integrante para ver su página:</p>

  <nav class="menu">
    <a routerLink="/sergio-luis" class="btn">Sergio Luis Dávila Tovar</a>
    <a routerLink="/jonathan-alexis" class="btn">Jonathan Alexis Quiroz Rojas</a>
    <a routerLink="/yahir-martinez" class="btn">Yahir Emanuel Martínez González</a>
    <a routerLink="/yahir-alejandro" class="btn">Yahir Alejandro Valdesz Lara</a>
    <a routerLink="/saul-fabian" class="btn">Saúl Fabián</a>
  </nav>
</main>
